html,
body {
  height: 100%;
  box-sizing: border-box;
  font-family: 'Open Sans', Verdana, Geneva, sans-serif;
  font-weight: normal;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
body {
  background: url("../img/background.jpg") no-repeat;
  background-size: cover;
}
body .container {
  position: relative;
  height: 100%;
  padding: 10px;
tablet-below()
}
.first {
  margin-top: 0 !important;
  margin-left: 0 !important;
}
.last {
  margin-bottom: 0 !important;
  margin-right: 0 !important;
}
