.logo {
  height: 20%;
  border-radius: 50%;
}
@media only screen and (max-width: 740px) {
  .logo {
    display: none;
    height: 10%;
  }
}
.title {
  color: #fff;
  font-weight: normal;
  text-align: center;
  font-size: 2em;
}
@media only screen and (max-width: 740px) {
  .title {
    font-size: 1.25em;
  }
}
@media only screen and (max-width: 320px) {
  .title {
    font-size: 1em;
  }
}
.phone-container {
  width: 50%;
  float: left;
}
.phone-container .iphone {
  height: auto;
  width: 100%;
}
@media only screen and (max-width: 740px) {
  .phone-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}
.download-social-container {
  width: 50%;
  float: left;
  margin-top: 25%;
}
.download-social-container .download-container {
  width: 100%;
  text-align: center;
}
.download-social-container .download-container .appstore-icon {
  width: 300px;
  border-radius: 5px;
}
@media only screen and (max-width: 740px) {
  .download-social-container .download-container .appstore-icon {
    width: 200px;
  }
}
@media only screen and (max-width: 320px) {
  .download-social-container .download-container .appstore-icon {
    width: 150px;
  }
}
.download-social-container .social-icon-container {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.download-social-container .social-icon-container .social-icon {
  display: inline-block;
  font-size: 3em !important;
  color: #fff;
  margin-right: 30px;
}
@media only screen and (max-width: 320px) {
  .download-social-container .social-icon-container .social-icon {
    font-size: 2.5em !important;
  }
}
@media only screen and (max-width: 740px) {
  .download-social-container {
    width: 100%;
    margin-top: 0;
    text-align: center;
  }
}
