doctype html
html
    head
        meta(charset='utf8')

        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(type='text/css', rel='stylesheet', href='./client/app/static/css/master.css')
        link(type='text/css', rel='stylesheet', href='./client/app/static/css/font-awesome/css/font-awesome.min.css')
    body
        .container
            h3.title Find tennis partners around you.
            //img.logo(src="./client/app/static/img/logo.png")
            img.iphone(src="./client/app/static/img/iphone_mockup.png")
            .download-container
                a(href='https://itunes.apple.com/us/app/double-bagel/id895778482', target="_blank")
                    img.appstore-icon(src="./client/app/static/img/app-store-4.png")
